@import url('http://fonts.cdnfonts.com/css/avenir');
/*ab2f3a*/
:root{ 
    font-family: 'Avenir', sans-serif;
    --color_primary: white;
    --color_secondary: #017ec1;
    --color_selected: #0D6EFD;
    --text_primary: black; 
}

.overlay{ 
    background: var(--color_secondary);
    position: fixed;
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.overlay_layer{
    background:var(--color_primary);
    position: relative;
    height:85%;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

}

.OffBoardList{
    width:100%;
    height: 100%;
    position:absolute;
    display: flex;


    
}

.selected_name{
    background-color: var(--color_selected);
}

.selected_name h2{ 
    color: white;
}

.selected_name p{ 
    color: white; 
}
